<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">Your awesome title</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Your awesome title</li>
          <li><a href="mailto:your-email@domain.com">your-email@domain.com</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">

      </div>
    </div>
  </div>
</footer>
